@import "_partials.scss";


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@692&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');



$dark-brown: #2D1F17;
$red-brown: #703110;
$grey-brown: #634F40;
$beige: #BAA17D;
$orange: #CA5312;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $beige;
  font-family: "Cairo", sans-serif;
}



html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 13px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $orange;

  &:hover {
    background: $beige;
  }
}





body {
  background-color: $dark-brown;
  overflow-x: hidden;
}




.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100%;
  z-index: 999;
  width: 100%;
  animation: menuAppear 1.5s;


  @keyframes menuAppear {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }


  .logo-div {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    transform: translateX(0%);
    left: 0%;
    animation: logoAppear 1s;

    a {
      text-decoration: none;

      img {
        height: 45px;
        width: auto;
        transition: 0.3s;
        object-fit: cover;
      }
    }


    @keyframes logoAppear {
      from {
        transform: translateX(-100%);
      }

      to {
        transform: translateX(0%);
      }
    }

  }




  .burger {
    position: absolute;
    top: 0;
    right: 80%;
    display: none;

  }

  .menu-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;

    a {
      text-decoration: none;
      font-family: fantasy;
      font-size: 17px;
      letter-spacing: .05em;
      padding: 20px 0;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px;
      transition: color 0.3s;

      &::after {
        display:block;
        content: '';
        border-bottom: solid 7px $beige;
        transform: scaleX(0) !important;

        transition: transform 250ms ease-in-out;
        transform-origin:  100% 0%;
      }


      &:hover {
        border-color: $beige;
      }

      &:hover::after {
        transform: scaleX(1) !important;

      }
    }


/*    .menu-filosofia:hover::after {
      transform: scaleX(0.88);
    }

    .menu-pizze:hover::after {
      transform: scaleX(0.85);
    }

    .menu-news:hover::after {
      transform: scaleX(0.67);
    }

    .menu-contatti:hover::after {
      transform: scaleX(0.76);
    }*/





    .home-active::after {
      transform: scaleX(1) !important;
    }

    .home-active:hover::after {
      transform: scaleX(0);
    }


    .filosofia-active::after {
      transform: scaleX(1) !important;
    }

    .filosofia-active:hover::after {
      transform: scaleX(0);
    }


    .pizze-active::after {
      transform: scaleX(1) !important;
    }

    .pizze-active:hover::after {
      transform: scaleX(0);
    }

    .news-active::after {
      transform: scaleX(1) !important;
    }

    .news-active:hover::after {
      transform: scaleX(0);
    }

  }
}



.cover {
  position: relative;

  .header-img {
    width: 100%;
    opacity: 90%;
    animation: imgAppear 1.5s;
  }

  @keyframes imgAppear {
    from{
      opacity: 0%;
    }

    to {
      opacity: 90%;
    }
  }

  h2 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    padding: 500px 30px 100px 30px;
    background-color: rgba(18, 12, 9, 0.65) !important;
    width: 100%;
    animation: titleAppear 1s;
    opacity: 100%;
  }

  @keyframes titleAppear {
    from {
      top: -15%;
      opacity: 0%;
    }
    to {
      top: 0%;
      opacity: 100%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;


    a {
      position: absolute;
      top: 77%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-decoration: none;
      background-color: $orange;
      background-position: right;
      color: $dark-brown;
      animation: buttonAppear 1s;
      padding: 20px 40px;
      transition: all 0.3s;
      border: 0px solid transparent;
      @include fontSizeTitle;
      white-space: nowrap;

      &:hover {
        background-image: url('../img/pizza.svg');
        background-repeat: no-repeat;
        background-size: 80px;
        background-position: center;
        color: transparent;
        border: 5px solid $orange;
        background-color: rgba(186, 161, 125, 0.8);

      }
    }

    @keyframes buttonAppear {
      from {
        padding: 0;
        font-size: 0;
      }
      to {
        padding: 20px 40px;
        font-size: 50px;
      }
    }
  }
}

.news {
  animation: contentAppear 3s;

  padding: 40px 40px 100px 40px;
  header {

    h3 {
      @include fontSizeTitle;
      font-weight: normal;
      text-align: center;
      margin: 20px 40px;
    }
  }

  .news-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid $beige;

    .news-item {
      margin: 20px 40px 20px 0;
      padding:50px;
      width: 44%;

      h4 {
        font-size: 30px;
        padding: 10px 0;
        border-bottom-style: solid;
        border-bottom-color: &beige;
        border-bottom-width: 2px;
        margin-bottom: 20px;
      }

      .news-content {
        @include fontSizeContent;

      }
    }
  }

  @keyframes contentAppear {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .news-all {
    text-align: center;
    margin-top: -20px;

    button {

      background-color: $beige;
      padding: 17px;
      border: none;
      border-radius: 0px;

      a {
        text-decoration: none;
        font-family: "Cairo", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: $dark-brown;

        &::after {
          content: '\00BB';
          padding: 5px;
          transition: all 0.3s;

        }

        &:hover::after {
          padding-left: 10px;
          margin-right: -5px;
        }
      }
    }
  }
}


.pizze {
  animation: contentAppear 3s;


  header {

    h3 {
      @include fontSizeTitle;
      font-weight: normal;
      margin: 20px 40px;
      text-align: center;

    }
  }
  .immagini {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100% !important;
    object-fit: cover;


    figure {
      position: relative;
      transition: 0.3s;

          a {
            transition: 0.3s;

            &:hover img {
              filter: brightness(20%);

            }

            &:hover figcaption {
              font-size: 40px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: bold;
              color: $orange;
              width: 100%;

            }

            img {
              width: 31vw;
              height: 31vw;
              object-fit:cover;
              transition: 0.3s;
              margin: 1px;
            }

            figcaption {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-decoration: none;
              font-family: "Cairo", sans-serif;
              text-align: center;
              font-size: 0px;
              color: $dark-brown;
              opacity: 100%;
            }
          }

    }

  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: $beige;
  padding: 70px 10px;
  animation: contentAppear 5s;

  .orari {
    align-self: flex-start;
    margin-left: 30px;
    margin-bottom: 50px;

    header {
      h3 {
        color: $dark-brown;
        font-family: fantasy;
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .orari-ul {

      li {
        color: $dark-brown;
        line-height: 25px;
        list-style-type: none;
        @include fontSizeContent;


        &::before {
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          background-image: url('../img/utensils.svg');
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 5px;
          margin-left: -19.3px;
        }

        &:last-child {
          font-weight: bold;
        }


        time {
          color: $dark-brown;

        }

      }
    }

  }

  .indirizzo {
    align-self: flex-start;
    margin-left: 30px;


    header {
      h3 {
        color: $dark-brown;
        font-family: fantasy;
        font-size: 30px;
        margin-bottom: 20px;

      }
    }

    address {
      color: $dark-brown;
      font-style: normal;
      line-height: 25px;
      @include fontSizeContent;


      a {
        text-decoration: none;
        color: $dark-brown;
        transition: color 0.3s;
        border-bottom: solid 2px transparent;


        &::after {
          display:block;
          content: '';
          border-bottom: solid 2px $dark-brown;
          transform: scaleX(1);

          transition: transform 350ms ease-in-out;
          transform-origin:  100% 0%;
        }

        &:hover {
          border-color: transparent;
          opacity: 0.9;
        }

        &:hover::after {
          transform: scaleX(0);
        }


      }
    }

  }
}

small {
  color: $beige;
  text-align: center;
  padding-top: 0;
  margin: 10px auto;
  animation: contentAppear 5s;
  white-space: wrap;

  a {
    margin: 0 4px;
  }
}
